.quattro {
    font: 20px/1.5 'League Spartan', sans-serif;
}

body {
    background-color: #eeedff
}

@media only screen and (min-width: 680px) {
    #root {
        margin: 0 auto;
        width: 680px;
    }
    img {
        width: 600px;
    }
}

@media only screen and (max-width: 680px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }
    img {
        width: 480px;
    }
    .quattro > h2:first-child {
        font-size: 16px;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }

    img {
        width: 400px;
    }
    .quattro > h2:first-child {
        font-size: 20px;
        text-align: center;
    }
    .quattro {
        font: 18px/1.5 'League Spartan', sans-serif;
    }
}

@media only screen and (max-width: 320px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }

    img {
        width: 300px;
    }
    .quattro > h2:first-child {
        font-size: 20px;
        text-align: center;
    }
    .quattro {
        font: 18px/1.5 'League Spartan', sans-serif;
    }
}

.regular {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.normal {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.footer-div {
    font-size: 75%;
    border-top: 1px solid black;
    padding-top: 4px;
}

.footer-div > span {
    float: right;
}

h2 {
    border-bottom: 1px solid black;
}


a {
    color: rgb(0,0,200);
    text-decoration: none;
    text-decoration-style: dotted;
}

code {
    background-color: #eee;
    padding: 3px;
    width: 100%;
    display: inline-block;
}

blockquote {
    font-style: italic;
}

p {
    margin-bottom: 1.4em;
    margin-left: 1em;
    margin-right: 1em;
}
