#root {
    margin: 0 auto;
    width: 680px;
}

.quattro {
    font: 16px/1.5 "iA Writer Quattro", monospace;
}

.regular {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.normal {
    font-style: normal;
}

.italic {
    font-style: italic;
}

h2 {
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
}

code {
    background-color: #eee;
    padding: 3px;
}

blockquote {
    font-style: italic;
}
